body {
    background: url('/src/innew.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2000px;
}

.swiper-container {
    width: 600px;
    height: 600px;
}

.swiper-button-next, .swiper-button-prev {
    transform: scale(.5);
}

/* .lens-mobile, img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
} */