body {
    background: url('/src/innew.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2000px;
}

.swiper-container {
    width: 600px;
    height: 600px;
}

.swiper-button-next, .swiper-button-prev {
    transform: scale(.5);
}

/* body{
    visibility: visible;
} */

.swiper-pagination {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    left: auto !important;
    right: 8px;
    opacity: 1;
    top: 0;
}